DATABASE_URL="postgresql://user:password@host:5432/seniorzen"
NEXTAUTH_SECRET="set-a-secure-random-string"
STRIPE_SECRET_KEY="sk_live_or_test"
STRIPE_WEBHOOK_SECRET="whsec_..."
STRIPE_MONTHLY_PRICE_ID="price_123"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
RESEND_KEY="re_your_resend_key"
S3_BUCKET="senior-zen"
S3_REGION="eu-west-3"
S3_ACCESS_KEY="AKIA..."
S3_SECRET_KEY="..."
S3_PUBLIC_BASE_URL="https://senior-zen.s3.eu-west-3.amazonaws.com/"
DOWNLOAD_SIGNING_SECRET="change-me"
